@import url(../vendor/normalize.css);

p {
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary-900: #181515;
  --clr-bg: #fff;
  --clr-disabled: #BEBBBB;

  --ff-primary: 'Cormorant Garamond', serif;
}

.link {
  text-decoration: none;
  color: var(--clr-primary-900);
}

.title {
  font-style: normal;
  margin: 0;
  padding: 0;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1023px) {
  .text {
    font-size: 16px;
    line-height: 19px;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list > * {
  margin: 0;
  padding: 0;
}

.section {
  margin: 0 auto;
  width: calc(100% - 40px);
}

@media screen and (min-width: 1024px) {
  .section {
    width: calc(100% - 100px);

  }
}
.section__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}


.page {
  background-color: var(--clr-bg);
  margin: 0 auto;
  min-width: 375px;
  /* max-width: 1440px; */
  color: var(--clr-primary-800);
  font-family: var(--ff-primary);
}

.header {
  padding: 40px 0;
}

.header__container {
  margin: 0 auto;
  display: flex;
  width: calc(100% - 330px);
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    flex-direction: column;
    width: calc(100% - 40px);
    justify-content: flex-start;
    gap: 20px;
  }
}

.header__container > * + * {
  margin-left: 20px;
}

.header__title {
  font-size: 36px;
  line-height: 44px;
  max-width: 350px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.socials__list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .header__socials {
    display: none;
  }
}

.about-me {
  padding: 50px 0;
  display: flex;
  justify-content: flex-start;
  gap: 125px;
}

@media screen and (max-width: 1023px) {
  .about-me {
    flex-direction: column;
    gap: 10px;
  }
}

.about-me__title-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.about-me__subtitle {
  padding: 0;
  margin: 0;
}

.about-me__text-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.about-me__text {
  margin: 0;
  padding: 0;
}

.filler {
  height: 100px;
  overflow: hidden;
}

.filler__image {
  max-width:100%;
  object-fit: contain;
}

.block__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.shoots__block {
  margin-top: 15px;
}

.block__text {
  margin-top: 5px;
}

@media screen and (min-width: 1024px) {
  .shoots__title {
    margin-top: 50px;
  }
}

.shoots {
  position: relative;
}

.shoots__image-container {
  margin-top: 35px;
}

@media screen and (min-width: 1024px) {
  .shoots__image-container {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .shoots__article {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    gap: 50px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .shoots__right-column {
    flex-grow: 1;
    min-width: 0;
    flex-basis: 60%;
  }

  .shoots__left-column {
    flex: 1 1 30%;
    min-width: 0;
  }
}

.shoots__image-container > * + *{
  margin-top: 20px;
}

.about-shoots__swiper_size-small-big-screen {
  display: none;
}

@media screen and (min-width: 1280px) {
.about-shoots {
  flex-direction: row-reverse;
  margin-left: -50px;
}

.about-shoots__left-column {
  flex-basis: 60%;
}

.about-shoots__right-column {
  flex-basis: 30%;
}

.about-shoots__image_size_big {
  height: auto;
}

.about-shoots__swiper_size-small {
  display: none;
}
.about-shoots__swiper_size-small-big-screen {
  display: block;
  margin-top: 30px;
}
}




.individual-shoots__swiper_size-small {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}



.shoots__swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

.swiper-button-prev, .swiper-button-next {
  position: static;
  top: 20px;
}


.shoots__image {
  width: 100%;
  height: 325px;
  object-fit: cover;

}

.swiper__controls {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  background: url(../images/slider__select_inactive.svg) no-repeat;
  background-position: 50%;
  height: 15px;
  width: 15px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: url(../images/slider__select_active.svg);
}



@media screen and (min-width: 1024px) {
  .individual-shoots__swiper_size-small-controls {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .about-shoots__swiper-size-small-controls {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .individual-shoots__swiper_size-big-controls {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .about-shoots__swiper_size-big-controls {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .shoots__image_size_big {
    height: 400px;
  }

  .shoots__image_size_small {
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .individual-shoots__swiper_size-small {
    display: none;
    /* position: relative;
    margin-left: -423px;
    margin-top: -100px;
    width: 600px;
    z-index: -1; */
  }

  .individual-shoots {
    margin-right: -50px;
  }
}
.individual-shoots__swiper_size-small-big-screen {
  display: none;
}

@media screen and (min-width: 1280px) {
  .individual-shoots__swiper_size-small-big-screen {
    display: block;
    width: 650px;
    margin-top: 30px;
  }
}



















.footer {
  margin-top: 30px;
}

.footer__text {
  margin-top: 5px;
  max-width: 445px;
}

.footer__socials {
  margin-top: 15px;
}

.footer__love-message {
  margin-top: 15px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.footer__credits {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

}
