@import url(../vendor/normalize.css);

p {
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary-900: #181515;
  --clr-bg: #fff;
  --clr-disabled: #BEBBBB;

  --ff-primary: 'Cormorant Garamond', serif;
}

.link {
  text-decoration: none;
  color: var(--clr-primary-900);
}

.title {
  font-style: normal;
  margin: 0;
  padding: 0;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1023px) {
  .text {
    font-size: 16px;
    line-height: 19px;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list > * {
  margin: 0;
  padding: 0;
}

.section {
  margin: 0 auto;
  width: calc(100% - 40px);
}

@media screen and (min-width: 1024px) {
  .section {
    width: calc(100% - 200px);

  }
}
.section__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 1024px) {
  .section__title {
    font-size: 24px;
    line-height: 29px;
  }
}


.page {
  background-color: var(--clr-bg);
  margin: 0 auto;
  min-width: 375px;
  color: var(--clr-primary-800);
  font-family: var(--ff-primary);
}

.header {
  padding: 40px 0;
}

@media screen and (max-width: 1023px){
  .header {
    padding: 15px 0;
  }
}

.header__container {
  margin: 0 auto;
  display: flex;
  width: calc(100% - 330px);
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    flex-direction: column;
    width: calc(100% - 40px);
    justify-content: flex-start;
    gap: 20px;
  }
}

.header__container > * + * {
  margin-left: 20px;
}

.header__title {
  font-size: 36px;
  line-height: 44px;
  max-width: 350px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .header__title {
    font-size: 24px;
    line-height: 29px;
  }
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.nav__link {
  transition: font-weight .3s linear;
}

.nav__link:hover {
  font-weight: 600;
}

.socials__list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .header__socials {
    display: none;
  }
}

.socials__icon {
  transition: all .3s ease-out;;
}

.socials__icon:hover {
  transform: scale(1.1);
}

.about-me {
  padding: 50px 0;
  display: flex;
  justify-content: flex-start;
  gap: 125px;
}

@media screen and (max-width: 1023px) {
  .about-me {
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;

  }
}

.about-me__title-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  flex-basis: 100%;
}

.about-me__subtitle {
  padding: 0;
  margin: 0;
}

.about-me__text-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.about-me__text {
  margin: 0;
  padding: 0;
}

.filler {
  overflow: hidden;
}

.filler__image {
  width:100%;
  object-fit: cover;
  height: 100%;
}

.first-filler {
  height: 115px;
}

.second-filler {
  height: 100px;
}

@media screen and (min-width: 1024px) {
  .first-filler {
    height: 280px;
  }

  .second-filler {
    height: 200px;
  }
}
.block__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 1024px) {
  .block__title {
    font-size: 18px;
    line-height: 22px;
  }
}

.shoots__block {
  margin-top: 15px;
}

.block__text {
  margin-top: 5px;
}

@media screen and (min-width: 1024px) {
  .shoots__title {
    margin-top: 50px;
  }
}

.shoots {
  position: relative;
}

@media screen and (max-width: 1024px) {
  .shoots {
    width: 100%;
    margin-top: 20px;
  }

  .shoots__left-column {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

.shoots__image-container {
  margin-top: 35px;
}

@media screen and (min-width: 1024px) {
  .shoots__image-container {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .shoots__article {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    gap: 50px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .shoots__article {
    gap: 75px;

  }
}

@media screen and (min-width: 1024px) {
  .shoots__right-column {
    flex-grow: 1;
    min-width: 0;
    flex-basis: 50%;
  }

  .shoots__left-column {
    flex: 1 1 35%;
    min-width: 0;
  }
}

.shoots__image-container > * + *{
  margin-top: 20px;
}

.about-shoots__swiper_size-small-big-screen {
  display: none;
}
.about-shoots {
  margin-top: 30px;
}

@media screen and (min-width: 1280px) {
.about-shoots {
  flex-direction: row-reverse;
  margin-left: -100px;
  margin-top: 100px;
}

.about-shoots__left-column {
  flex-basis: calc(50% - 200px);
}

.about-shoots__title {
  margin-top: 15px;
}

.about-shoots__right-column {
  flex-basis: 35%;
}

.about-shoots__image_size_big {
  height: auto;
}

.about-shoots__swiper_size-small {
  display: none;
}
.about-shoots__swiper_size-small-big-screen {
    display: block;
    margin-top: 30px;
    width: calc(100% + 100px);
  }
}

.individual-shoots__swiper_size-small {
  width: 100%;
  height: auto;
}



.shoots__swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

.swiper-button-prev, .swiper-button-next {
  position: static;
  top: 20px;
}


.shoots__image {
  width: 100%;
  object-fit: cover;
}


.swiper__controls {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  background: url(../images/slider__select_inactive.svg) no-repeat;
  background-position: 50%;
  height: 15px;
  width: 15px;
  opacity: 1;
}

.swiper-pagination-bullet:focus, .swiper-pagination-bullet-active:focus {
  -webkit-tap-highlight-color: transparent;
}

.swiper-pagination-bullet-active {
  background: url(../images/slider__select_active.svg);
}



@media screen and (min-width: 1024px) {
  .individual-shoots__swiper_size-small-controls {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .about-shoots__swiper-size-small-controls {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .individual-shoots__swiper_size-big-controls {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .about-shoots__swiper_size-big-controls {
    display: none;
  }
}

.shoots__image_size_big {
  height: 225px;
}

.shoots__image_size_small {
  height: 195px;
}


@media screen and (min-width: 1024px) {
  .shoots__image_size_big {
    height: 600px;
  }

  .shoots__image_size_small {
    height: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .individual-shoots__swiper_size-small {
    display: none;
  }

  .individual-shoots {
    margin-right: -100px;
  }
}
.individual-shoots__swiper_size-small-big-screen {
  display: none;
}

@media screen and (min-width: 1280px) {
  .individual-shoots__swiper_size-small-big-screen {
    display: block;
    width: 135%;
    margin-top: 100px;
  }
}

.footer {
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer__text {
  margin-top: 5px;
  max-width: 445px;
}

.footer__socials {
  margin-top: 15px;
}

.footer__love-message {
  margin-top: 15px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.footer__credits {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

}


.credits__link {
  transition: font-weight .3s linear;
}

.credits__link:hover {
  font-weight: 600;
}
